<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

<head>
	<meta charset="utf-8">
	<title>Ajout Parcours</title>
</head>

<body>
	<div layout:fragment="Mycontent">
		<div class="container mt-5">
			<div class="card">
				<div class="card-header" th:if="${mode=='newPar'}"> Ajout des Parcours </div>
				<div class="card-header" th:if="${mode=='editPar'}">Modification des Parcours</div>
				<div class="card-body">
					<form th:action="@{saveParcours}" method="post">
					<div class="form-group">
<label class="control-label" hidden>ID Parcours :</label>
<input type="hidden" name="idPar" class="form-control"
th:value="${parcours.idPar}" />
</div>
<div class="form-group">
<label class="control-label">Nom Parcours :</label>
<input type="text" name="nomPar" class="form-control"
th:value="${parcours.nomPar}" />
<span th:errors= ${parcours.nomPar} class="text-danger"> </span>
</div>
<div class="form-group">
<label class="control-label">Description Parcours :</label>
<input type="text" name="descriptionPar" class="form-control"
th:value="${parcours.descriptionPar}" />
<span th:errors=${parcours.descriptionPar} class="text-danger"> </span>
</div>

<div>
<button type="submit" class="btn btn-primary">Ajouter</button>
</div>
</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>