<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="template">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

<head>
	<meta charset="utf-8">
	<title>Liste des Departements</title>
</head>

<body>
<div layout:fragment="Mycontent">
	<div class="container mt-5">
		<div class="card">
			<div class="card-header">
				Liste des Departements
			</div>
			<div class="card-body">
			<form th:action="@{chercherCat}" method="get">
			<div class="mb-3">
		 		<div class="from-group">
		 			<label class="control-label">Parcours</label>
 					<select name="idCat" class="form-control" style="width:400px;">
  						<option th:each="c:${parcours}"  th:value="${c.idPar}" th:text="${c.nomPar}"></option>
					</select>
					
		 		</div>
				<input type="submit" class="btn btn-primary" value="Chercher"> 
			</div>
 		</form> 
			<form th:action="@{chercherNom}" method="get">
 <label>Departement à cherher </label>
 <input  type="text" name="nomDepartement" th:value="${nomDepartement}"   />
 <button class="btn btn-primary">Chercher</button>
 </form>
 
				<table class="table table-striped">
					<tr>
						<th>ID</th>
						<th>Nom Departement</th>
						<th>Surface</th>
						<th>Date Création</th>
						<th>Parcours</th>
					</tr>
					<tr th:each="p:${produits}">
						<td th:text="${p.idDepartement}"></td>
						<td th:text="${p.nomDepartement}"></td>
						<td th:text="${p.surfaceDepartement}"></td>
						<td th:text="${p.dateCreation}"></td> 
   
   
              <td   th:if= "${!#strings.isEmpty(p.parcours)}"   th:text="${p.parcours.nomPar}"></td>  
              <td   th:if= "${#strings.isEmpty(p.parcours)}"     th:text="${'Pas de Catégorie'}"></td> 
						<td sec:authorize="hasRole('ADMIN')" ><a class="btn btn-danger" onclick="return confirm('Etes-vous sûr ?')" th:href="@{supprimerDepartement(id=${p.idDepartement},page=${currentPage},size=${size})}">Supprimer</a>  </td>
						<td sec:authorize="hasRole('ADMIN')" ><a class="btn btn-success"th:href="@{modifierDepartement(id=${p.idDepartement})}">Editer</a> </td>
					</tr>
					
				</table>
				<ul class="nav nav-pills">
					<li th:each="page,status:${pages}">
						<a th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
							th:href="@{ ListeDepartements(page=${status.index}, size=${size} ) }"
							th:text="${status.index }"></a>
</li>
</ul>
			</div>
		</div>
	</div>
</div>
</body>

</html>